.rowHeight, .Panelmargin, .paddingRightDiv, .borderdashed, .paddingLeftDiv, .borderBottomDetail, .blogBody, .paddingLeftControl, .detail, .rowHeight{
  background-color: black;
}
blogBody{
  background-color: black;
}
body{
  background-color:black;
}
#1{
  background-color: black;
}
