doctype html5
html(ng-app='myApp')
  head
    title Lesson8
    script(src='./bower_components/jquery/dist/jquery.min.js')
    script(src='./bower_components/angular/angular.min.js')
    link(href='./bower_components/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
    script(scr='./bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='./bower_components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='./bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='./bower_components/oclazyload/dist/ocLazyLoad.min.js')
    script(src='./helpers/app.js')
    script(src='./helpers/route.js')
    //- link(href='./helpers/styles/styleSheet.css',rel='stylesheet')
    body
      div(ui-view=' ')
