div(ng-controller="logoutController")
  div(class='row Panelmargin')
    div(class='row paddingRightDiv borderdashedDetail paddingLeftDiv') 
      div(class='col-md-12 rowHeight')
        button(class='btn regbtn' ng-click='logout()') logout 

