body{
  background-color:silver;
  font-size:16px;
  padding:1%;

}
input{
  background-color:silver;
  border:1px solid black;
  width:360px;
  height:35px;
}
h1,h2,input{
  color:white
}
.white{
  color:white;
}
h2:hover{
  color:powderblue;
}
/*.Panelmargin{
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 28%;
}*/
/*.rowHeight{
  padding: 1%;
}*/

.paddingLeftDiv{
padding-left:2% !important;
}
/*.paddingRightDiv{
  padding-right: 2% !important;
}*/
.floatRight{
  float:right;
}
.PaddingRightControl{
  padding-right:0px;
}
/*.paddingLeftControl{
  padding-left:2%;
}*/
.widthControl{
  width:95%;
}
.panelSize{
  width: 60%;
  height: 200px;
}
.nav li a{
  color:white;
}
.nav li a:hover,.nav li a:focus{
  background-color:#7a239e !important;
}
.nav-tabs>li>a:hover{
border-color:#7a239e;
}
.nav-tabs{
  border-bottom:3px solid #7a239e;
}
.title{
  color:white;
  font-size:20px;
  font-weight:bold;
}
/*.detail{
  color:darkgray;
  font-size:18px;
  font-weight:bold;
}*/
/*.borderdashed{
  border-color: white;
  border-style: dashed;
}*/
/*.detail a:hover, .detail a:focus{
 text-decoration:none !important;
 color:#337ab7;
}*/
/*.detail a{
  color: #7a239e;
}*/
/*.blogBody{
  background-color:#7a239e;
  color:white;
  width:90%;
  height:150px;
}*/
.commentBody{
  background-color:#7a239e;
  color:white;
  width:95%;
  height:125px;
}
.noDisplay{
  display: none;
}
.display{
  display: inherit;
}
.regbtn:hover,.regbtn:focus{
  background-color:#337ab7;
  color:white;
}
.regbtn{
   color:white;
   background-color:#7a239e;
}
.paddingAll{
  padding:1%;
}
.marginVert{
  margin-top:1%;
  margin-bottom:1%;
}
.marginAll{
  margin:1%;
}
/*.borderDetail{
  border-style: dashed;
  border-color: black;
}*/
/*.borderdashedDetail{
   border-color: black;
   border-style: dashed;
}*/
/*.borderBottomDetail{
  border-bottom-style: dashed;
  border-bottom-color: white;
  border-bottom-width: 1%;
}*/
